.demo {
  height: 319px;
  border-radius: 10px;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 120px;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.demo-left {
  max-height: inherit;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #357E5E;
  padding: 56px
}

.demo-left h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.demo-left p {
  color: white;
  margin-top: 16px;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.75;
}

.demo-right-outer {
  background: linear-gradient(to right, #357E5E, #FFFFFF);
}

.demo-right-inner {
  background-color: #C5E2D5;
  height: 253px;
  padding: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.demo-img {
  width: 366px;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.demo-img img {
  width: 100%;
}

.demo-button {
  color: #357E5E;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  width: 200px;
  height: 51px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 62px;
}