.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 411px;
    margin-top: 60px;
}

.aboutus h2 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.aboutus h1 {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aboutus p{
    color: #000;
text-align: justify;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 120px;
padding-right: 120px;
margin-top: 63px;
}