@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&display=swap');

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  user-select: none;
  overflow-x: hidden;
}

.color2 {
  color: #fff;
}


.cup{

}

.cup:hover{
  cursor: pointer;
}

iframe {
  
}

h1{
  margin:0px;
}

p{
  margin: 0px;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from the parent element */
}
.color1 {
  color: #357E5E;
}


.my-slider-video{
  .awssld__content video::-webkit-media-controls {
    display: none !important;
  }
}

button{
  border:none;
}

button:hover{
  cursor: pointer;
}


input{
}










