@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&display=swap');

.App {
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.cup:hover{
  cursor: pointer;
}

h1{
  margin:0px;
}

p{
  margin: 0px;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from the parent element */
}

a:hover{
  color:black;
}

button{
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease;
}

input:focus{
  outline: none;
}










